<div id="suggest_edits_section">

  <div id="suggest_edits_form_area" style="display: none;">
    <hr>
    <h4>Suggest Edits to record: <b><%= material.title -%></b></h4>

    <%= simple_form_for @material, :method => :post, :url => "/suggest/#{material.class.name}/#{material.id}" do |f| -%>

      <%= render partial: 'materials/partials/form_content', locals: { resource: material, f: f } %>

      <input name="commit" value="Submit" class="btn btn-primary" type="submit">
      <btn class="btn btn-info" id="close_suggest_edits" onClick="hideSEarea()">Hide</btn>
    <% end -%>


  </div>

  <btn class="btn btn-info" id="open_suggest_edits" onClick="showSEarea()">
    Suggest Edits
  </btn>
</div>

