<%#
Parameters
- resources - The SOLR object containing .results and metadata about a search. Returned by e.g. materials/index events/index
Globals
@facet_params
@query_params
%>

<%# FILTERS APPLIED %>
<div class="tess-active-facets">
  <% @facet_params.except(*Facets::HIDDEN).each_with_index do |(category, value), i| %>
    <div class="tess-active-facet">
      <% if i > 0 && (@facet_params.size > 1) %>
        ...and
      <% end %>
      <% title = t("facets.titles.#{category}", default: category.humanize).downcase %>
      <% value = Array(value) %>
      <strong><%= value.length > 1 ? title : title.singularize %></strong>:
      <% value.each_with_index do |val, j| %>
        <%= remove_filter_link(category, val, { class: 'tess-facet-row active' })%>
        <% if j < value.size - 1 %>
          or
        <% end %>
      <% end %>
    </div>
  <% end %>

<%# The search term %>
  <% unless params[:q].blank? %>
    <span class="tess-active-facet">
      <strong>Search query</strong>:
      <%= remove_filter_link('q', params[:q], { class: 'tess-facet-row active' })%>
    </span>
  <% end %>
</div>
