<div id="app"></div>

<script>

  $("#concept_map_title").keyup(function(e) {
      var new_title = '<i class="main"></i> ' + e.target.value;
      $(".workflow-diagram-sidebar-title").text('')

      $(".workflow-diagram-sidebar-title").append(new_title)
  });

  var wf = new Workflow('#app', {
      title: "<%= workflow.title %>",
      editable: <%= editable %>,
      preload: <%= workflow.workflow_content.to_json.html_safe %>
  });

  $('.workflow-form-submit').click(function () {
      $('#workflow_content').val(JSON.stringify(wf.export()));
      Workflows.formSubmitted = true;

      return true;
  });


</script>
