
<% if resource.learning_outcomes and !resource.learning_outcomes.empty? %>
  <p><strong>After completing this course, you will be able to:</strong></p>
  <ul>
    <%  resource.learning_outcomes.each do |learning_outcome| %>
      <li>
        <%= learning_outcome.verb %>
        <%= learning_outcome.noun%><%#_text %>
        <% if learning_outcome.tool_name  and !learning_outcome.tool_name.blank? %>
          using <%= link_to learning_outcome.tool_name, "https://bio.tools/#{learning_outcome.tool_id}", target: "_blank" %>
        <% end  %>
      </li>
    <% end %>
  </ul>
<% end %>